body{
    background-color: black;
    color: rgb(255, 255, 255);
}

header{
    border-top: solid 20px #000;
    background-color: black;
    color: rgb(255, 0, 0);
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: solid 2px #303030;
}

.link{
    text-decoration: none;
    color: white;
    padding: 5px;
    border: solid 2px #303030;
    border-radius: 3px;
    background-color: black;
    transition: 500ms;
    cursor: pointer;
}

.link:hover{
    color: red;
    border: solid 2px #303030;
    background-color: #303030;
    transition: 500ms;
}
.login{
    text-decoration: none;
    color: white;
    padding: 5px;
    border: solid 2px #303030;
    border-radius: 3px;
    background-color: black;
    transition: 500ms;
    cursor: pointer;
}

.login:hover{
    color: rgb(255, 0, 0);
    border: solid 2px #303030;
    background-color: #303030;
    transition: 500ms;
}